name: terraform flow

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  terraform-flow:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.0

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::992382587119:role/git
          aws-region: us-east-1

      - name: Terraform Init
        run: |
          cd infra-monolith/env/dev
          terraform init

      - name: Terraform Plan
        run: |
          cd infra-monolith/env/dev
          terraform plan -out=tfplan

      - name: Terraform Apply
        run: |
          cd infra-monolith/env/dev
          terraform apply -auto-approve tfplan
